@model UserDashboard.Models.Comment

<div class="row">
    <div class="col-md-10 offset-1">
        <div class="card text-center">
            <div class="card-header mt-2">
                @ViewBag.message.Users.first_name @ViewBag.message.Users.last_name
            </div>
            <div class="card-body">
                <p class="card-text">@ViewBag.message.message</p>
            </div>
            <div class="card-footer text-muted mb-2">
                    <small>@ViewBag.message.created_at</small>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-1 mb-3 mt-3">
        <h3 class="text-center">Leave A Comment</h3>
        <form action="/ProcessComment" method="POST">
            <div class="form-group">
                <input type="hidden" name="message_id" value="@ViewBag.message.message_id">
                <textarea name="comm" class="form-control" cols="30" rows="10"></textarea>
            </div>
            <input type="submit" value="Post" class="btn btn-round btn-success">
        </form>
    </div>
</div>

<div class="row">
    @foreach (var c in ViewBag.message.Comments)
    {
        <div class="col-md-10 offset-1">
            <div class="card text-center">
                <div class="card-header mt-2">
                    @c.Users.first_name @c.Users.last_name
                </div>
                <div class="card-body">
                    <p class="card-text">@c.comment</p>
                </div>
                <div class="card-footer text-muted mb-2">
                        <small>@c.created_at</small>
                         @if(ViewBag.user.user_id == c.Users.user_id)
                        {
                            <form action="/delete_comment/{comment_id}" method="POST">
                                <input type="hidden" name="comment_id" value="@c.comment_id">
                                <input type="submit" value="Delete" class="btn btn-round btn-danger">
                            </form>
                        }
                        else
                        {
                            <p></p>
                        }
                </div>
            </div>
        </div>   
    }
</div>