@model UserDashboard.Models.User
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="text-center">@ViewBag.user.first_name @ViewBag.user.last_name</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-1">
        <div class="card p-3 mt-5 mb-5">
        <table class="table table-hover text-center">
            <thead class="bg-info">
                <tr class="text-white">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Messages</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var u in ViewBag.users)
                {
                    <tr>
                        <td>@u.first_name @u.last_name</td>
                        <td>@u.email</td>
                        <td>@u.created_at</td>
                        <td>@u.Messages.Count</td>
                        <td>
                            <a href="Profile/@u.user_id" class="btn btn-round btn-info">Profile</a>
                            <a href="EditUser/@u.user_id" class="btn btn-round btn-warning">Edit</a>
                            <a href="DeleteUser/@u.user_id" class="btn btn-round btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
</div>