@model UserDashboard.Models.Message
@{
    ViewData["Title"] = "Profile";
}

<div class="row">
    <div class="col-md-6 text-center">
        <h1>@ViewBag.user.first_name @ViewBag.user.last_name</h1>
        <hr>
        <p class="lead">@ViewBag.user.email</p>
        <hr>
        <p>@ViewBag.user.created_at</p>
    </div>
    <div class="col-md-6 text-center">
        <h3>Post A Message To @ViewBag.user.first_name</h3>
        <form asp-action="ProcessMessage" asp-controller="Home" method="POST">
            <div class="form-group">
                <textarea asp-for="message" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <input type="submit" value="Post Message" class="btn btn-round btn-success">
        </form>
    </div>
</div>

<div class="row">
    @foreach (var m in ViewBag.user.Messages)
    {
        <div class="col-md-10 offset-1">
            <div class="card text-center">
                <div class="card-header mt-2">
                    @m.Users.first_name @m.Users.last_name
                </div>
                <div class="card-body">
                    <p class="card-text">@m.message</p>
                </div>
                <div class="card-footer text-muted mb-2">
                        <a href="/comments/@m.message_id" class="btn btn-success btn-round">Comments: @m.Comments.Count</a>
                        @if(ViewBag.active.user_id == m.Users.user_id)
                        {
                            <form action="delete_message/{message_id}" method="POST">
                                <input type="hidden" name="message_id" value="@m.message_id">
                                <input type="submit" value="Delete" class="btn btn-round btn-danger">
                            </form>
                        }
                        else
                        {
                            <p></p>
                        }
                </div>
            </div>
        </div>   
    }
</div>